.evolutionContainer {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 100px 0px;
  z-index: 10;
}

.evolutionWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.evolutionWrapperColumn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.evolutionBox {
  display: flex;
}

.evolutionTitle {
  color: #414141;
  margin-bottom: 80px;
  text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.7);
}

.imageWrapper {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemonName {
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: bold;
  top: 0;
  z-index: 10;
  padding: 0 10px;
  border-radius: 5px;
}

.trigger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #414141;
  font-weight: bold;
}

.trigger i {
  font-size: 48px;
}

@media (max-width: 850px) {
  .imageWrapper {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 764px) {
  .imageWrapper {
    width: 150px;
    height: 150px;
  }

  .trigger {
    font-size: 12px;
    width: 40px;
  }

  .trigger i {
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  .pokemonName {
    font-size: 14px;
  }
  .imageWrapper {
    width: 90px;
    height: 90px;
  }
}
