.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  overflow: hidden;
}

.pokeball {
  top: 20%;
  bottom: 0px;
  transform: rotate(45deg);
  position: fixed;
  z-index: 0;
  align-self: center;
}
